
#viewport {
    width: 100%;
    position: absolute;
}

nav {
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: arial, sans-serif;
    font-size: .8em;
    margin: 0px 10px 20px 10px;
}

.header-link {
    padding: 10px;
}

nav #left-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav #right-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#blank-space-1 {
    flex: 20;
}

#blank-space-2 {
    flex: 20;
}

#gmail-link {
    flex: 1.5;
}

#img-link {
    flex: 1.5;
}

#grid-img {
    flex: .5;
}

#sign-in-button {
    flex: 2;
}

#grid-img img {
    width: 20px;
    align-self: center;
}

#main {
    display: block;
    text-align: center;
    background-color: white;
    margin-top: 90px;
}

#logo-container {
    display: -webkit-inline-box;
    text-align: -webkit-center;
    position: relative;
    padding: 30px 0px 30px 0px;
}

#logo-container img {
    height: 92px;
    width: 272px;
}

#sign-in-button button {
    background-color: royalblue;
    color: white;
    font-family: arial, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    border: none;
    width: 70px;
    height: 30px;
}

#search-bar {
    padding: 0px 0px 30px 0px;
}

#search-bar input {
    border-radius: 20px;
    background-color:rgb(255, 255, 255);
    width: 550px;
    height: 40px;
    border-color: rgb(212, 212, 212);
    border-width: 1px;
    border-style: solid;
}

#search-bar input:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.search-button {
    text-align: center;
    border-color: lavender;
    margin: 0px 5px 20px 5px;
    height: 35px;
    width: 130px;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #5F6368;
    border-radius: 4px;
    background-color: rgb(241, 241, 241);
}

.search-button:hover {
    border-color:lightslategrey;
    color:black;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgb(235, 235, 235);
    font-family: arial, sans-serif;
    font-size: .8em;
}

.footer-link {
    padding: 15px;
    font-size: 1.1em;
    color: rgb(100, 102, 104);
}

footer #left-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer #right-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#advertising-link {
    margin-left: 20px;
}

#settings-link {
    margin-right: 20px;
}