
#viewport {
    width: 100%;
    position: absolute;
}

nav {
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: arial, sans-serif;
    font-size: .8em;
    margin: 0px 10px 20px 10px;
}

.header-link {
    padding: 10px;
}

nav #left-nav {
    display: inline-block;
    text-align: center;
    text-align: left;
    padding-top: 5px;
}

nav #right-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav div {
    border: 1px #ccc solid;
}

#blank-space {
    flex: 10;
}

#gmail-link {
    flex: 1;
}

#img-link {
    flex: 1;
}

#grid-img {
    flex: 1;
}

#grid-img img {
    width: 20px;
    align-self: center;
    
}

#main {
    display: block;
    text-align: center;
    background-color: white;
    margin-top: 90px;
}

#logo-container {
    display: -webkit-inline-box;
    text-align: -webkit-center;
    position: relative;
    padding: 30px 0px 30px 0px;
}

#logo-container img {
    height: 119px;
    width: 353px;
}

#search-bar {
    padding: 0px 0px 30px 0px;
}

#search-bar input {
    border-radius: 20px;
    background-color:rgb(255, 255, 255);
    width: 500px;
    height: 40px;
    border-color: rgb(212, 212, 212);
    border-width: 1px;
    border-style: solid;

}

.search-button {
    text-align: center;
    border-color: lavender;
    margin: 0px 5px 20px 5px;
    height: 35px;
    width: 130px;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #5F6368;
    border-radius: 4px;
    background-color: rgb(241, 241, 241);
}

#search-bar input:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}