
#viewport {
    width: 100%;
    position: absolute;
}

header {

}

nav {
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: arial, sans-serif;
    font-size: .8em;
}

nav #left-nav {
    text-align: left;
}

nav #right-nav {
    text-align: right;
}

nav div {
    display: inline-block;
    background-color: khaki;
    margin: 10px 10px 10px 10px;
}

nav #gmail {
    display: inline-block;
}

#main {
    display: block;
    text-align: center;
    background-color: white;
    margin-top: 90px;
}

#logo-container {
    display: -webkit-inline-box;
    text-align: -webkit-center;
    position: relative;
    padding: 30px 0px 30px 0px;
}

#logo-container img {
    height: 92px;
    width: 272px;
}

#search-bar {
    padding: 0px 0px 30px 0px;
}

#search-bar input {
    border-radius: 20px;
    background-color:rgb(255, 255, 255);
    width: 500px;
    height: 40px;
    border-color: rgb(212, 212, 212);
    border-width: 1px;
    border-style: solid;

}

.search-button {
    text-align: center;
    border-color: lavender;
    margin: 0px 5px 20px 5px;
    height: 35px;
    width: 130px;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #5F6368;
    border-radius: 4px;
    background-color: rgb(241, 241, 241);
}

#search-bar input:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}